<ion-content [fullscreen]="true">
  <ion-loading [isOpen]="loading" message="Carregando..."></ion-loading>
  <form [formGroup]="filterForm">
    <ion-item>
      <ion-searchbar animated="true" placeholder="Pesquisar pelo nome" formControlName="nome"></ion-searchbar>
    </ion-item>
  </form>
  <ion-list>
    <ion-item *ngFor="let pessoa of pessoas">
      <ion-label class="item-label">
        <div>
          {{pessoa.nome}} - {{pessoa.email}} ({{pessoa.telefone}})
        </div>
        <div class="buttons-container">
          <ion-button (click)="editar(pessoa)">
            <ion-icon name="create-outline"></ion-icon> Editar
          </ion-button>
          <ion-button color="danger" (click)="deletar(pessoa)">
            <ion-icon name="trash-outline"></ion-icon> Deletar
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>